// variables
$mobile: 87.4988rem;
$desktop: 119.9988rem;


.header {
	position: relative;
	z-index: 1000;
	height: 5.75rem;
	@media (max-width: $mobile) {
		height: 4.3125rem;
		align-items: center;
	}
	.soundToggler {
		display: none;
		@media (max-width: $mobile) {
			display: block;
		}
		@media (max-width: 26.25rem) {
			position: absolute;
			left: 0;
			margin-left: 1.25rem;
		}
	}
	background: transparent;
	width: 100%;
	padding: 1.5rem 0;
	@media (max-width: $desktop) {
		padding: 1.25rem 0;
	}
	@media (max-width: $mobile) {
		padding: 0.625rem 0;
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
		background: rgba(0, 0, 0, 0.1);
	}
	&__container {
		padding: 0 15.125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 120rem;
		@media (max-width: $desktop) {
			width: 90rem;
			padding: 0 8.125rem;
		}
		@media (max-width: $mobile) {
			width: 100%;
			padding: 0 1.25rem;
		}
		@media (max-width: 26.25rem) {
			justify-content: flex-end;
		}
	}
	&__logo {
		cursor: pointer;
		z-index: 10;
		width: 17.25rem;
		height: 2.85rem;
		@media (max-width: $desktop) {
			width: 14.375rem;
			height: 2.375rem;
		}
		@media (max-width: $mobile) {
			height: 1.375rem;
			width: 8.5rem;
		}
		@media (max-width: 26.25rem) {
			display: none;
		}
		img {
			width: 100%;
			max-width: 100%;
			user-select: none;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
	}
	&__leaderboard {
		font-weight: 500;
		font-size: 2.25rem;
		line-height: 130%;
		cursor: pointer;
		z-index: 10;
		transition: .25s;
		margin-right: -9.6rem;
		@media (max-width: $desktop) {
			font-size: 1.5rem;
			margin-right: -11.25rem;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__leaderboard:hover {
		button {
			transition: .25s;
			text-decoration: underline;
		}
	}
	&__mobileBtns {
		display: flex;
		align-items: center;
		gap: 1.5625rem;
		@media (max-width: $mobile) {
			gap: 0.625rem;
		}
	}
	&__totalScore {
		font-weight: 600;
		font-size: 1.25rem;
		color: #fff;
		span {
			margin-left: 0.625rem;
		}
		@media (max-width: $desktop) {
			font-size: 1rem;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	&__walletBtn {
		.wallet-adapter-button-start-icon {
			margin-right: 6px!important;
		}
		.wallet-adapter-button {
			background: transparent!important;
			font-weight: 600!important;
			font-size: 1.25rem!important;
			border: 0.125rem solid #fff!important;
			border-radius: 3.75rem!important;
			z-index: 10!important;
			cursor: pointer;
			transition: .25s!important;
			padding: 1.5625rem 1.5625rem 1.4375rem 1.5625rem!important;
			@media (max-width: $desktop) {
				padding: 1.5625rem 1.5625rem 1.4375rem 1.5625rem!important;
			}
			@media (max-width: $mobile) {
				padding: 0.625rem 0.9375rem 0.5rem 0.9375rem!important;
				font-size: 1rem!important;
			}
		}
		span {
			@media (max-width: $mobile) {
				display: none;
			}
		}
		svg {
			display: none;
			@media (max-width: $mobile) {
				display: flex;
			}
		}
		.wallet-adapter-button:hover {
			transition: .25s;
			color: #000000;
			background-color: #ffffff;
			@media (max-width: $mobile) {
				color: #ffffff;
				background-color: transparent;
			}
		}
	}	

// Burger menu
	&__mobileBurger-btn {
		display: none;
		@media (max-width: $mobile) {
			display: block!important;
		}
	}
	&__mobileBurger-line {
		width: 1.875rem;
		height: 0.125rem;
		background-color: #ffffff;
		display: block;
		margin: 6px auto;
		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	&__mobileBurger-btn:hover {
		cursor: pointer;
	}
	&__mobileMenu {
		display: flex;
		border: 0.0625rem solid rgba(255, 255, 255, 0.1);
		// position: absolute;
		margin-top: 2rem;
		right: 1.25rem;
		flex-direction: column;
		position: absolute;
		background-color: #292f4f!important;
		z-index: 100;
		border-radius: 0.625rem;
	}
	&__mobileMenu-links {
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 100%;
		color: #fff;
		width: 16.5625rem;
		padding: 1.25rem 0 1.25rem 1.25rem;
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
	}
	&__mobileMenu-links:last-child {
		border-bottom: none;
	}
}

.wallet-adapter-button:not([disabled]):hover {
	background-color: #fff!important;
	color: #000000!important;
}

.header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(2){
	opacity: 0;
}
  
.header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(1){
	-webkit-transform: translateY(0.5625rem) rotate(45deg);
	-ms-transform: translateY(0.5625rem) rotate(45deg);
	-o-transform: translateY(0.5625rem) rotate(45deg);
	transform: translateY(0.5625rem) rotate(45deg);
}
  
.header__mobileBurger-btn.is-active .header__mobileBurger-line:nth-child(3){
	-webkit-transform: translateY(-0.4375rem) rotate(-45deg);
	-ms-transform: translateY(-0.4375rem) rotate(-45deg);
	-o-transform: translateY(-0.4375rem) rotate(-45deg);
	transform: translateY(-0.4375rem) rotate(-45deg);
}

	// Leaderboard

	// variables
$mobile: 87.4988rem;
$desktop: 119.9988rem;

body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popupLeaderboard-show body::after {
	opacity: 1;
}
.popupLeaderboard {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 1.875rem 0.625rem;
	transition: visibility 0.8s ease 0s;
	// visibility: hidden;
	pointer-events: none;
	@media (max-width: $mobile) {
		padding: 5.4375rem 1.25rem 5.4375rem 1.25rem;
	}
}
.popupLeaderboard_show {
	z-index: 300;
	display: block;
	overflow: auto;
	pointer-events: auto;
}
.popupLeaderboard_show .popupLeaderboard__content {
	display: block;
}
.popupLeaderboard__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popupLeaderboard__content {
	// visibility: hidden;
	// transform: scale(0);
	display: none;
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 1.25rem;
	width: 100%;
	max-width: 56.25rem;
	border-radius: 1.25rem;
	// .lock & {
	// 	// visibility: visible;
	// }
}

// Leaderboard popup
.popupLeaderboard {
	&__wrapper {
	}
	&__content {
		position: relative;
		max-width: fit-content;
		padding: 2.4375rem 3.0625rem;
		border-radius: 1.875rem;
		backdrop-filter: blur(1.5rem);
		box-shadow: inset -0.25rem -0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
		background: linear-gradient(180deg, #5b16c975 0%, #27075b21 100%);
		@media (max-width: $mobile) {
			padding: 3.25rem 1.25rem;
		}
	}
	&__close {
		position: absolute;
		top: 1.875rem;
		right: 1.875rem;
		@media (max-width: $mobile) {
			top: 1.5625rem;
			right: 1.5625rem;
		}
		svg {
			@media (max-width: $mobile) {
				height: 0.9375rem;
				width: 0.9375rem;
			}
		}
	}
	&__title {	
		position: absolute;	
		top: 2.4375rem;
		left: 3.0625rem;
		font-weight: 900;
		font-size: 2.5rem;
		line-height: 100%;
		color: #fff;
		@media (max-width: $mobile) {
			font-size: 1.375rem;
			top: 0;
			left: 0;
			position: relative;
		}
	}
	&__crownIcon {
		max-width: fit-content;
		margin: 4rem 0 0.5625rem 2.9375rem;
		@media (max-width: $mobile) {
			margin: 2.5rem 0 0.625rem 2.4375rem;
		}
		svg {
			@media (max-width: $mobile) {
				width: 1.8125rem;
				height: 1.3944rem;
			}
		}
	}
	&__playerList {
		display: flex;
	}
	&__table {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 0.625rem;
	}
	&__tableItem {
		border: 0.125rem solid #fff;
		display: flex;
		border-radius: 3.75rem;
		padding: 0.9375rem 0.9375rem 0.8125rem 0.9375rem;
		width: 26.4375rem;
		@media (max-width: $mobile) {
			padding: 0.6875rem 0.6875rem 0.5625rem 0.6875rem;
			width: 17.3125rem;
		}
	}
	&__tableItem:first-child {
		border: 0.125rem solid #fff500;
		.popupLeaderboard__id {
			color: #fff500;	
		}
		.popupLeaderboard__playerName {
			color: #fff500;	
		}
		.popupLeaderboard__coins {
			color: #fff500;	
		}
	}
	&__itemData {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 130%;
		color: #fff;	
		width: 100%;	
	}
	&__id {
		padding-top: 0.25rem;
		@media (max-width: $mobile) {
			font-size: 1.125rem;
		}
	}
	&__playerIcon {
		display: flex;
		margin: 0 0.625rem;
		svg {
			height: 1.875rem;
			width: 1.875rem;
			@media (max-width: $mobile) {
				width: 1.25rem;
				height: 1.25rem;
			}
		}
	}
	&__playerName {
		padding-top: 0.25rem;
		@media (max-width: $mobile) {
			font-size: 1rem;
		}
	}
	&__coins {	
		display: flex;
		width: 100%;
    	justify-content: flex-end;
		padding-top: 0.25rem;
		@media (max-width: $mobile) {
			font-size: 1rem;
		}	
	}
}